Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60000/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BL" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BL" minOccurs="0" name="GetClientsResult" nillable="true" type="q1:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BL" minOccurs="0" name="GetAddressesResult" nillable="true" type="q2:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="csurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cgender" type="xs:int" />
        <xs:element minOccurs="0" name="cemail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cbirthdate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressid" type="xs:int" />
        <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suburb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addrtype" type="xs:int" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>